<!DOCTYPE html>
<html>
<head>
	<title>Blog Site</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="http://192.168.1.12:8887/blog.css">
</head>
<body>
	
	<div class="ui inverted borderless menu">
		<div class="ui container">
			<div class="header item">
    			<i class="code icon"></i>The_Blog
  			</div>
	  		<a class="ui item" href="/">
	    		Home
	  		</a>
	  		<a class="ui item" href="/blog/new">
	    		Add new Blog
	  		</a>
	  		<div class="right menu">
	       		<a class="ui item" href="#">
	      			Log In
	    		</a>
	    		<a class="ui item" href="#">
	      			Sign Up
	    		</a>
	  		</div>
		</div>
	</div>
	