<!DOCTYPE html>
<html>
<head>
	<title>Blog Site</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
</head>
<body>
	
	<div class="ui inverted borderless menu">
		<div class="ui container">
			<div class="header item">
    			<i class="code icon"></i>The_Blog
  			</div>
	  		<a class="ui item" href="/">
	    		Home
	  		</a>
	  		<a class="ui item" href="/blog/new">
	    		Add new Blog
	  		</a>
	  		<div class="right menu">
	  			<% if(!currentUser) { %>
	       		<a class="ui item" href="/login">
	      			Log In
	    		</a>
	    		<a class="ui item" href="/register">
	      			Sign Up
	    		</a>
	    		<% } else { %>
	    		<a class="ui item" href="#">
	    			Logged in as <%= currentUser.username %>
	    		</a>
	    		<a class="ui item" href="/logout">
	      			Logout
	    		</a>
	    		<% } %>
	  		</div>
		</div>
	</div>
	<div class="ui container">
		<% if(success && success.length >0){ %>
			<div class="ui positive message flash">
				<div class="header">
					<%= success %>
				</div>
			</div>
		<% } %>
		<% if(error && error.length >0){ %>
			<div class="ui negative message flash">
			  	<div class="header">
			    	<%= error %>
			  	</div>
			</div>
		<% } %>
	</div>	
	